<% if @destination_selected %>
  <div id="container">
    <div id="header">
      <div id="logo"></div>
      <h1>Lonely Planet: <%= @destination_selected["title"] %></h1>
    </div>

    <div id="wrapper">
      <div id="sidebar">
        <div class="block">
          <h3>Navigation</h3>
          <div class="content">
            <div class="inner">
              <%= render "navigation.html.erb" %>
            </div>
          </div>
        </div>
      </div>

      <%= render "main" %>
    </div>
  </div>
<% end %>
