<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Lonely Planet</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</head>

<body>
  <% if @error %>
    <%= render "shared/errors" %>
  <% else %>
    <%= yield %>
  <% end %>
  </body>
</html>
