<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Lonely Planet</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
</head>

<body>
  <% if @error || @destination_selected.nil? %>
    <%= render "shared/errors" %>
  <% else %>
    <%= yield %>
  <% end %>
  </body>
</html>
